USE [master]
GO
/****** Object:  Database [TikiReviewAnalyzer]    Script Date: 11/10/2024 8:24:26 PM ******/
CREATE DATABASE [TikiReviewAnalyzer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TikiReviewAnalyzer', FILENAME = N'D:\K21416C_TextMining\TikiReviewAnalyzer\TikiReviewAnalyzer.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TikiReviewAnalyzer_log', FILENAME = N'D:\K21416C_TextMining\TikiReviewAnalyzer\TikiReviewAnalyzer_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TikiReviewAnalyzer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TikiReviewAnalyzer]
GO
/****** Object:  Schema [Tiki]    Script Date: 11/10/2024 8:24:27 PM ******/
CREATE SCHEMA [Tiki]
GO
/****** Object:  Schema [Users]    Script Date: 11/10/2024 8:24:27 PM ******/
CREATE SCHEMA [Users]
GO
/****** Object:  Table [Tiki].[ProductCategory]    Script Date: 11/10/2024 8:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tiki].[ProductCategory](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[ProductCategoryID] [varchar](50) NOT NULL,
	[ProductCategoryText] [nvarchar](max) NULL,
	[ProductCategoryLink] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ProductCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Tiki].[ProductDetail]    Script Date: 11/10/2024 8:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tiki].[ProductDetail](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[ProductID] [nvarchar](50) NOT NULL,
	[ProdDescriptions] [nvarchar](max) NULL,
	[ProdShortDescriptions] [nvarchar](max) NULL,
	[ProdURL] [nvarchar](max) NULL,
	[SellerID] [nvarchar](max) NULL,
	[spid] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Tiki].[Products]    Script Date: 11/10/2024 8:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tiki].[Products](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[ProductCategoryID] [varchar](50) NULL,
	[ProductID] [nvarchar](50) NOT NULL,
	[ProductSKU] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[ProductOriginalPrice] [int] NOT NULL,
	[ProductPrice] [int] NOT NULL,
	[ProductQuantitySold] [int] NOT NULL,
	[RatingAverage] [decimal](3, 2) NOT NULL,
	[ReviewCount] [int] NULL,
	[EarliestDeliveryEstimate] [int] NULL,
	[StandardDeliveryEstimate] [int] NULL,
	[UrlPath] [nvarchar](max) NULL,
	[AccID] [int] NULL,
	[IDData] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Tiki].[Review]    Script Date: 11/10/2024 8:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tiki].[Review](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[ProductID] [nvarchar](50) NULL,
	[ReviewID] [int] NULL,
	[Title] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Created_Time] [nvarchar](max) NULL,
	[CustomerID] [nvarchar](50) NULL,
	[ImagesURL] [nvarchar](max) NULL,
	[Rating] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Tiki].[ReviewGPT]    Script Date: 11/10/2024 8:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tiki].[ReviewGPT](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[GPTCateID] [int] NULL,
	[texts] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Tiki].[ReviewGPTCate]    Script Date: 11/10/2024 8:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tiki].[ReviewGPTCate](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[ProductID] [nvarchar](50) NOT NULL,
	[title] [nvarchar](max) NULL,
	[sub_title] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Users].[Account]    Script Date: 11/10/2024 8:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Users].[Account](
	[AccID] [int] IDENTITY(0,1) NOT NULL,
	[AccFirstName] [nvarchar](50) NOT NULL,
	[AccLastName] [nvarchar](50) NOT NULL,
	[AccEmail] [nvarchar](100) NOT NULL,
	[AccPhoneNumber] [nvarchar](15) NOT NULL,
	[AccDateOfBirth] [date] NULL,
	[AccUserName] [nvarchar](20) NOT NULL,
	[AccPassword] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AccEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AccUserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AccPhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Users].[Info]    Script Date: 11/10/2024 8:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Users].[Info](
	[IDData] [int] IDENTITY(0,1) NOT NULL,
	[AccID] [int] NOT NULL,
	[DataName] [nvarchar](max) NOT NULL,
	[DataDescription] [nvarchar](max) NULL,
	[DateScrape] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Users].[Model]    Script Date: 11/10/2024 8:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Users].[Model](
	[IDModel] [int] IDENTITY(0,1) NOT NULL,
	[AccID] [int] NOT NULL,
	[ModelName] [nvarchar](max) NOT NULL,
	[ModelDescription] [nvarchar](max) NULL,
	[DateCreate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDModel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Tiki].[ProductDetail]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [Tiki].[Products] ([ProductID])
GO
ALTER TABLE [Tiki].[Products]  WITH CHECK ADD FOREIGN KEY([AccID])
REFERENCES [Users].[Account] ([AccID])
GO
ALTER TABLE [Tiki].[Products]  WITH CHECK ADD FOREIGN KEY([IDData])
REFERENCES [Users].[Info] ([IDData])
GO
ALTER TABLE [Tiki].[Products]  WITH CHECK ADD FOREIGN KEY([ProductCategoryID])
REFERENCES [Tiki].[ProductCategory] ([ProductCategoryID])
GO
ALTER TABLE [Tiki].[Review]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [Tiki].[Products] ([ProductID])
GO
ALTER TABLE [Tiki].[ReviewGPT]  WITH CHECK ADD FOREIGN KEY([GPTCateID])
REFERENCES [Tiki].[ReviewGPTCate] ([ID])
GO
ALTER TABLE [Tiki].[ReviewGPTCate]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [Tiki].[Products] ([ProductID])
GO
ALTER TABLE [Users].[Info]  WITH CHECK ADD FOREIGN KEY([AccID])
REFERENCES [Users].[Account] ([AccID])
GO
ALTER TABLE [Users].[Model]  WITH CHECK ADD FOREIGN KEY([AccID])
REFERENCES [Users].[Account] ([AccID])
GO
USE [master]
GO
