<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
  <add name="MyConnectionString" connectionString="Server=THANH-OS\MSSQLSERVER01;Database=TikiReviewAnalyzer;Integrated Security=True;" providerName="System.Data.SqlClient" />
  <add name="GUI.Properties.Settings.TikiReviewAnalyzerConnectionString" connectionString="Data Source=THANH-OS\MSSQLSERVER01;Initial Catalog=TikiReviewAnalyzer;Persist Security Info=True;User ID=sa;Password=123456;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
 </connectionStrings>
 <userSettings>
  <GUI.Properties.Settings>
   <setting name="ServerName" serializeAs="String">
    <value />
   </setting>
   <setting name="DatabaseName" serializeAs="String">
    <value />
   </setting>
   <setting name="Username" serializeAs="String">
    <value />
   </setting>
   <setting name="Password" serializeAs="String">
    <value />
   </setting>
   <setting name="RememberMe" serializeAs="String">
    <value>False</value>
   </setting>
  </GUI.Properties.Settings>
 </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>